//Colors
$black: #161D28;
$white: #feffff;

* {
	//overflow: hidden;
	margin: 0;
}
 html {
	height: 100vh;
 }


.site {
	background-color:$black;
}

.site-header {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	width: 100%;
	padding: 10px 5%;
	display: flex;
	background: rgba(254, 255, 255, 0.2);
	backdrop-filter: blur(2px);
	height: 60px;
	z-index: 999999;
	#site-navigation{
		display: flex;
		justify-content: flex-end;

		a {
			color: $white;
			line-height: 2.5rem;
		}
		
	}
}
.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	position: absolute;
}

.main-navigation.toggled ul{
	position: absolute;
	width: 100vw;
	margin-top: 50px;
	background-color: red;
	right: 0;
	animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}



@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
